@model IEnumerable<FinalProject.Models.Collection>
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">   
    <title>Моя страница</title>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    
    <link type="text/css" href="~/css/pricing.css" rel="stylesheet">
</head>

<body>
    <main class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Мои коллекции</h1>
            <p class="lead">Здесь Вы можете увидеть, добавить или отредактировать список своих коллекций.</p>
        </div>

        <div class="text-center myContent">
            <form asp-controller="Home" asp-action="Create" method="get">
                <div class="col">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 fw-normal">Новая коллекция</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>

                            <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Добавить</button>
                        </div>
                    </div>
                </div>
            </form>
            @foreach (var collection in Model)
            {
            <div class="col">
                <div class="card mb-4 shadow-sm">
                    
                    <div class="card-header text-center">
                        <form action="~/Home/Delete" method="post" >
                            <button type="submit" class="close" aria-label="Close" value="@collection.Id" name="id">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </form>                        
                        <a href="~/Home/Edit?id=@collection.Id" type="submit" >
                            <h4 class="my-0 fw-normal">@collection.name</h4>
                                
                        </a>
                        

                    </div>
                    
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                        <img src="@collection.url" style="width:70px;height:50px;" />
                        <button type="button" class="w-100 btn btn-lg btn-primary">Список</button>
                    </div>
                </div>
            </div>

            }
        </div>

        
    </main>
</body>

</html>
