<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Checkbox Night Light</title>
    <meta name="description" content="Создание адаптивного сайта" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/setting.css" />
</head>

<body>
    <div class="ag-format-container">
        <div class="ag-switcher_box">            
                <input id="ag-switcher" href="~/Home/ChangeTheme" class="ag-switcher_input" type="checkbox" checked="">
                <label for="ag-switcher" class="ag-switcher_switcher">
                    <span class="ag-switcher_toggle-handler"></span>
                </label>            
        </div>
    </div>
</body>
</html>
