@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,900');

h1{
    margin-bottom:50px;
}
th{
    text-align:center;
    font-size:18px;
}
td{
    text-align:center;
}

#addButton{
    margin-bottom:25px;
}


